body {
  min-width: 1220px;
  margin: 0;
  padding: 0;

  background: rgba(000, 000, 000, .1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 30px;

  -webkit-animation: header_gradient;

          animation: header_gradient;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

  background: #0d763d;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

@-webkit-keyframes header_gradient {
  0% {
    background-color: red;
  }
  25% {
    background-color: gold;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}

@keyframes header_gradient {
  0% {
    background-color: red;
  }
  25% {
    background-color: gold;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}

.header__panel_transparent {
  width: 35%;
  min-height: 100%;

  -webkit-transform: skew(-45deg);

      -ms-transform: skew(-45deg);

          transform: skew(-45deg);

  background: -webkit-gradient(linear, left bottom, right top, from(rgba(000, 000, 000, .8)), to(rgba(000, 000, 000, .3)));

  background: -webkit-linear-gradient(bottom left, rgba(000, 000, 000, .8), rgba(000, 000, 000, .3));

  background: -o-linear-gradient(bottom left, rgba(000, 000, 000, .8), rgba(000, 000, 000, .3));

  background: linear-gradient(to top right, rgba(000, 000, 000, .8), rgba(000, 000, 000, .3));
}

.header__text {
  margin-right: 10%;
  margin-left: auto;
  padding-top: 10px;

  text-align: center;
}

.header__title,
.header__paragraph {
  margin: 0;
  padding: 0;

  color: #fff;

	text-shadow: 0 0 10px #000;
}

.header__title {
  font-size: 32px;

  margin-bottom: 15px;
}

.header__paragraph {
  font-size: 20px;

  margin-bottom: 15px;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 20%;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;

  border: 1px solid rgba(255, 255, 255, .3);
}

.projects__item:last-child {
  margin-right: 0;
}

.projects__item img {
  width: 100%;
  height: 100%;
}

.projects__item-link:hover,
.projects__item-link:focus {
  -webkit-transform: scale(2.5) translate(0, 30%);
      -ms-transform: scale(2.5) translate(0, 30%);
          transform: scale(2.5) translate(0, 30%);
}

.projects__item-link {
  display: block;

  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  margin: 0;
  padding: 0;
  padding: 20px 6%;

  color: #fff;
  background: rgba(000, 000, 000, .9);

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social_vk {
  font-family: 'Joti One', cursive;
  font-size: 30px;

  margin-right: 50px;
}

.footer__social-link {
  text-decoration: none;

  color: inherit;
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: rgba(255, 255, 255, .6);
}

.footer__text {
  text-align: left;
}

.footer__title,
.footer__contacts {
  margin: 0;
  padding: 0;
}

.footer__title {
  font-size: 32px;
}

.footer__contacts {
  font-size: 20px;
}

.about-button {
  font-size: 15px;
  font-weight: bold;

  position: absolute;
  top: 10px;
  left: 3%;

  padding: 31px 10px;

  color: #fff;
  border: 0;
  border-radius: 40px;
  background: darkgreen;
}

.about-button:hover,
.about-button:focus {
	background: #171;
}

.about-button:active {
	background: #140;
}

.aboutme {
  position: absolute;
  top: 100px;

  display: none;

  max-width: 250px;
  margin: 0;
  padding: 0;
  padding: 30px 20px;

  list-style: none;

  color: #fff;
  border-radius: 20px;
  background: rgba(000, 000, 000, .5);
}

.modal_visible {
	display: block;
}

.aboutme__item {
  font-size: 20px;

  margin-bottom: 10px;
}

@media (max-width: 768px) {
	.mobile_title {
		font-size: 40px;
	}

	.mobile_paragraph {
		font-size: 30px;
	}

	.projects__item {
		max-width: 50%;
	}

	.about-button {
		font-size: 30px;
		padding: 55px 15px;
		border-radius: 100px;
		top: 125px;
	}

	.aboutme {
		top: 290px;
		max-width: 400px;
	}
}