body {
  margin: 0;
  padding: 0;
  font-family: "Oswald" Arial, sans-serif;
  font-size: 14px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0; }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  background: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    .page-header {
      min-height: 700px; } }
  @media (min-width: 1200px) {
    .page-header {
      min-height: 900px; } }

.page-header__title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #000; }

.page-header__title span {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase; }

.page-navbar {
  z-index: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: #2c3e50; }
  .page-navbar--sticky {
    position: fixed;
    top: 0;
    width: 100%; }

.page-navbar__navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; }
  @media (min-width: 768px) {
    .page-navbar__navigation .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .page-navbar__navigation .container {
      max-width: 1200px; } }
  @media (min-width: 768px) {
    .page-navbar__navigation .container {
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.page-navbar__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .page-navbar__name {
      margin-bottom: 0;
      border-bottom: 0; } }

@media (min-width: 768px) {
  .page-navbar__button {
    display: none; } }

.page-navbar__title,
.page-navbar__link {
  color: #fff; }

.page-navbar__title span {
  font-size: 14px;
  font-weight: normal;
  width: auto; }

.page-navbar__list {
  display: none; }
  @media (min-width: 768px) {
    .page-navbar__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .page-navbar__list--visible {
    display: block; }

.page-navbar__item {
  margin-right: 20px;
  margin-bottom: 10px;
  -webkit-animation: slide 500ms;
  animation: slide 500ms; }
  @media (min-width: 768px) {
    .page-navbar__item {
      margin-bottom: 0; } }
  .page-navbar__item:last-child {
    margin-right: 0; }

.page-navbar__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase; }
  .page-navbar__link:hover {
    color: gold; }

.about {
  padding: 80px 0; }

.about .container {
  text-align: center;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .about .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .about .container {
      max-width: 1200px; } }

.about__title {
  font-size: 30px;
  line-height: 20px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase; }
  .about__title:after {
    position: relative;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 90px;
    margin-top: 30px;
    content: '';
    border-bottom: 5px solid gold; }

.about__photo {
  margin-bottom: 50px; }

.about__text {
  max-width: 725px;
  margin: auto; }

.skills {
  background: url(../img/services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.skills .container {
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) {
    .skills .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .skills .container {
      max-width: 1200px; } }

.skills__title {
  font-size: 30px;
  line-height: 20px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase; }
  .skills__title:after {
    position: relative;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 90px;
    margin-top: 30px;
    content: '';
    border-bottom: 5px solid gold; }

@-webkit-keyframes slide {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes slide {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }
