@charset "UTF-8";
body {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(49%, #f4f5f6), to(#fff));
  background: linear-gradient(to bottom, #fff 0%, #f4f5f6 49%, #fff 100%); }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

.page-header {
  min-height: 300px;
  background: #989595 url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  @media (min-width: 768px) {
    .page-header {
      min-height: 700px; } }
  @media (min-width: 1200px) {
    .page-header {
      min-height: 900px; } }

.page-header__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  padding-top: 20%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #000; }

.page-header__title span {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase; }

.page-navbar {
  z-index: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: #2c3e50; }
  .page-navbar--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }

.page-navbar__navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; }
  @media (min-width: 768px) {
    .page-navbar__navigation .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .page-navbar__navigation .container {
      max-width: 1200px; } }
  @media (min-width: 768px) {
    .page-navbar__navigation .container {
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.page-navbar__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .page-navbar__name {
      margin-bottom: 0;
      border-bottom: 0; } }

.page-navbar__button {
  position: relative;
  width: 30px;
  height: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 0;
  background: #6f6f6f; }
  .page-navbar__button:before {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 30px;
    height: 5px;
    content: '';
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #6f6f6f; }
  .page-navbar__button:after {
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 30px;
    height: 5px;
    content: '';
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #6f6f6f; }
  .page-navbar__button--active {
    background: rgba(255, 255, 255, 0); }
  .page-navbar__button--active::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .page-navbar__button--active::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  @media (min-width: 768px) {
    .page-navbar__button {
      display: none; } }

.page-navbar__title,
.page-navbar__link {
  color: #fff; }

.page-navbar__title span {
  font-size: 14px;
  font-weight: normal;
  width: auto; }

.page-navbar__list {
  display: none;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  @media (min-width: 768px) {
    .page-navbar__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-top: 0; } }

.page-navbar__item {
  margin-right: 20px;
  margin-bottom: 10px;
  -webkit-animation: slide 250ms linear;
  animation: slide 250ms linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  @media (min-width: 768px) {
    .page-navbar__item {
      margin-bottom: 0; } }
  .page-navbar__item:last-child {
    margin-right: 0;
    margin-bottom: 0; }

li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

li:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

li:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.page-navbar__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase; }
  .page-navbar__link:hover {
    color: gold; }

.about {
  padding: 80px 20px; }

.about .container {
  text-align: center;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .about .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .about .container {
      max-width: 1200px; } }

.about__link {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px; }

.about__title {
  font-size: 30px;
  line-height: 20px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase; }
  .about__title:after {
    position: relative;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 90px;
    margin-top: 30px;
    content: '';
    border-bottom: 5px solid gold; }

.about__text {
  max-width: 725px;
  margin: auto; }

.portfolio {
  padding: 80px 20px 60px 20px;
  /*20px снизу  отдадим под маргины в листе*/
  text-align: center;
  background: url(../img/services-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.portfolio__title {
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 20px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase; }
  .portfolio__title:after {
    position: relative;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 90px;
    margin-top: 30px;
    content: '';
    border-bottom: 5px solid gold; }

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.portfolio__item {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .portfolio__item {
      margin-right: 20px;
      margin-bottom: 40px; } }
  @media (min-width: 1200px) {
    .portfolio__item {
      margin-right: 40px; } }
  .portfolio__item:last-child {
    margin-right: 0; }

.portfolio__frame {
  position: relative;
  margin: 0; }
  .portfolio__frame:hover, .portfolio__frame:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .portfolio__frame:hover:before, .portfolio__frame:focus:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.5); }
  .portfolio__frame:hover .portfolio__frame-text {
    display: block; }

.portfolio__frame img {
  max-width: 100%;
  max-height: 800px; }

.portfolio__frame-text {
  font-size: 17px;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 15%;
  display: none;
  max-width: 70%;
  color: #fff; }

.portfolio__frame-text span {
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px; }

.skills {
  padding: 80px 20px; }

.skills .container {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .skills .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .skills .container {
      max-width: 1200px; } }

.skills__title {
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase; }
  .skills__title:after {
    position: relative;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 90px;
    margin-top: 30px;
    content: '';
    border-bottom: 5px solid gold; }

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.skills__item {
  margin-right: 25px;
  margin-bottom: 20px; }
  .skills__item:last-child {
    margin-right: 0; }

.skills__name {
  font-size: 25px;
  color: #e87e04;
  text-shadow: 0 1px 1px #000; }
  .skills__name--strong {
    -webkit-animation: blink 2s infinite alternate-reverse;
    animation: blink 2s infinite alternate-reverse; }

.skills__tag {
  text-align: right;
  color: #000; }

.contacts {
  padding: 80px 20px 60px 20px;
  background: url(../img/skills-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.contacts .container {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts .container {
      max-width: 768px; } }
  @media (min-width: 1200px) {
    .contacts .container {
      max-width: 1200px; } }

.contacts__title {
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase; }
  .contacts__title:after {
    position: relative;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 90px;
    margin-top: 30px;
    content: '';
    border-bottom: 5px solid gold; }

.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contacts__social-item {
  margin-right: 20px;
  margin-bottom: 20px; }
  .contacts__social-item:last-child {
    margin-right: 0; }

.contacts__social-link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px; }
  .contacts__social-link:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    content: ''; }
  .contacts__social-link:hover::before, .contacts__social-link:focus::before {
    opacity: .8; }

.contacts__social-link--vk:before {
  background: url(../img/vk.svg); }

.contacts__social-link--github:before {
  background: url(../img/github.svg); }

.contacts__email {
  text-decoration: none;
  color: #000; }
  .contacts__email:hover, .contacts__email:focus {
    color: rgba(0, 0, 0, 0.6); }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  75% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes slide {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  75% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }

@keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }

@-webkit-keyframes borders {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes borders {
  from {
    border: 0; }
  to {
    border: 1px solid #fff; } }
