:root {
    --background-color-main: #ededed;

    --background-color-inconspicuous: #efefef;

    --color-toggle: #7226b9;

    --color-link: #7226b9;
    --color-link--visited: #872fda;

    --standart-margin: 24px;
}
