:root {
  --background-color-main: #ededed;
  --background-color-inconspicuous: #efefef;
  --color-toggle: #7226b9;
  --color-link: #7226b9;
  --color-link--visited: #872fda;
  --standart-margin: 24px;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../static/fonts/RobotoSlab-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../static/fonts/RobotoSlab-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("../static/fonts/RobotoSlab-Light.ttf") format("opentype");
}
.section {
  padding: 40px 0;
}
.section:nth-child(odd) {
  background-color: var(--background-color-main);
}
.section .wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}
.section .wrapper::after {
  content: "";
  position: absolute;
  top: calc(100% + 40px);
  left: 50%;
  height: 1px;
  width: 80%;
  background: var(--background-color-inconspicuous);
  transform: translateX(-50%);
}
.section:last-child .wrapper::after {
  display: none;
}
.section__image {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}
.section__image--canvas {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  width: auto;
  max-width: none;
  max-height: 500px;
}
.section:nth-child(even) .section__image {
  margin-right: var(--standart-margin);
}
.section:nth-child(odd) .section__image {
  margin-left: var(--standart-margin);
}
.section__text {
  flex: 1;
  padding-top: var(--standart-margin);
}
.section__title {
  margin-bottom: 32px;
  font-size: 32px;
}
.section__subtitle {
  font-size: 18px;
  font-weight: 600;
}
.section__subtitle--short {
  display: block;
}
.section__subtitle--full {
  display: none;
}
.section--full .section__subtitle--short {
  display: none;
}
.section--full .section__subtitle--full {
  display: block;
}
.section__subtitle b {
  opacity: 0.6;
}
.section__image-wrapper {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.section__canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
.section__toggle {
  color: var(--color-toggle);
  cursor: pointer;
}
.section__list {
  margin-bottom: var(--standart-margin);
}
.section__list:last-child {
  margin-bottom: 0;
}
.section__link {
  position: relative;
  padding-left: 32px;
}
.section__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}
.section__link--github::before {
  background-image: url("/static/images/icons/github.png");
}
.section__link--vk::before {
  background-image: url("/static/images/icons/vk.png");
}
.section__contact-row {
  margin-bottom: 18px;
  text-align: center;
}
.section__contact-row:last-child {
  margin-bottom: 0;
}
@media (max-width: 769px) {
  .section .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .section__image {
    order: -1;
    margin: 0;
    margin-bottom: 48px;
  }
  .section:nth-child(even) .section__image {
    margin: 0;
    margin-bottom: 48px;
  }
  .section__text {
    padding: 0;
  }
}

.homepage__introduction .wrapper {
  justify-content: space-between;
  align-items: center;
}
.homepage__introduction .section__text {
  margin-bottom: 48px;
}
.homepage__companies .section__image {
  max-width: 400px;
  max-height: 400px;
}
.homepage__contacts .section__title, .homepage__skills .section__title {
  text-align: center;
}
.homepage__contacts .wrapper, .homepage__skills .wrapper {
  display: block;
}
.homepage__skills .section__subtitle {
  margin-bottom: var(--standart-margin);
}

.experience-list__item {
  margin-bottom: var(--standart-margin);
  font-size: 18px;
}
.experience-list__item:last-child {
  margin-bottom: 0;
}
.experience-list__position {
  font-weight: 600;
}
.experience-list__position, .experience-list__company, .experience-list__dates {
  display: block;
  line-height: 28px;
}
.experience-list__dates {
  opacity: 0.5;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.skills--smaller {
  justify-content: flex-start;
}
.skills--smaller .skills__item {
  opacity: 0.5;
}
.skills__item {
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 400ms ease-in-out;
}
a:visited {
  color: var(--color-link--visited);
}

.wrapper {
  max-width: 1280px;
  padding: 0 var(--standart-margin);
}

/*# sourceMappingURL=styles.css.map */
