.contacts {
  padding: 80px 20px 60px 20px;

  background: url(../img/skills-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contacts .container {
  @include container();
}

.contacts__title {
  text-align: center;

  @include underlined-title();
}

.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__social-item {
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__social-link {
  position: relative;

  display: block;

  width: 25px;
  height: 25px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    content: '';
  }

  &:hover::before,
  &:focus::before {
    opacity: .8;
  }
}

.contacts__social-link--vk {
  &:before {
    background: url(../img/vk.svg);
  }
}

.contacts__social-link--github {
  &:before {
    background: url(../img/github.svg);
  }
}

.contacts__email {
  text-decoration: none;
  color: #000;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }
}
