.skills {
  padding: 80px 20px;
}

.skills .container {
  @include container();
}

.skills__title {
  text-align: center;

  @include underlined-title();
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 30px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills__item {
  margin-right: 25px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.skills__name {
  font-size: 25px;

  color: #e87e04;
  text-shadow: 0 1px 1px #000;

  opacity: 0.5;

  &--strong {
    -webkit-animation: blink 2s infinite alternate-reverse;
            animation: blink 2s infinite alternate-reverse;
  }
}

.skills__tag {
  text-align: right;

  color: #000;
}
